{% extends 'page/base.html' %}
{% load staticfiles %}

{% block name %}
<title>k-arch | kontakt</title>
{% endblock %}
{% block RD %}but{% endblock %}
{% block V %}but{% endblock %}
{% block S %}but2{% endblock %}
{% block content %}

<div class="clear"></div>

<div>
  <address>
    <div class="photo_me"><img src="{% static 'icony/fotka.jpg' %}"></div>
    <div class="adresa">
    <p>Ing. arch. Kamila Hančlová</p>
    <p>architektonické studio</p>
    <p>Roudnice nad Labem</p>

    <p><a href="mailto:kamila.hanclova@gmail.com">kamila.hanclova@gmail.com</a></p>
    <p>+420 724 569 880</p>
    </div>
  </address>
  <div class="studio">
  <p>Chystáte se stavět nebo rekonstruovat Váš vysněný dům či byt?
Chcete si zařídit stylovou kancelář nebo kavárnu?</p>
  <p>Neváhejte mě kontaktovat.
Sjednáme si nezávaznou schůzku a probereme Vaše představy a možnosti.
  </p>
  <p>Finální návrh vzniká jako výsledek intenzivní spolupráce architekta a klienta, Váš názor je pro mě důležitý.
Potřebuji pochopit Váš životní styl a očekávání, abych Vám mohla předložit řešení podle Vašich představ.
  </p>
  <p>
Nabízím vypracování architektonické studie, dokumentace pro územní a stavební
řízení ve spolupráci s autorizovanými inženýry a specialisty.
Jsem schopná plně zastoupit klienta v procesu povolování stavby.
  </p>
  <p>Pro kolegy z oboru nabízím zpracování vizualizace- pracuji v programech ArchiCad a Artlantis.<p>
  </div>
</div>
{% endblock %}
