{% extends 'page/base.html' %}
{% block name %}
<title>k-arch | {{ post.name }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

{% endblock %}
{% block RD %}but2{% endblock %}
{% block V %}but{% endblock %}
{% block S %}but{% endblock %}
{% block navig %}

<div class="navigace">
  <br />
  <nav>
    <ul class="sf-menu">
     <li class="but"><a href="{% url 'rd_filter_RD' %}">rodinné domy</a></li>
     <li class="but"><a href="{% url 'rd_filter_INTER' %}">interiéry</a></li>
     <li class="but"><a href="{% url 'rd_filter_JINE' %}">jiné</a></li>
   </ul>
  </nav>


</div>
{% endblock %}
{% block content %}
<div class="clear"></div>


<div>
      <div class="uvodni">

      <img  src="{{ large.photo.url }}">
      {% if large.number < photos|length and large.number > 1 %}
      <a href="{% url 'RD_detail' pk=post.pk ip=large.number|add:"-1" %}" class="previousround">&#8249;</a>
      <a href="{% url 'RD_detail' pk=post.pk ip=large.number|add:"1" %}" class="nextround">&#8250;</a>
      {% elif large.number == photos|length %}
      <a href="{% url 'RD_detail' pk=post.pk ip=large.number|add:"-1" %}" class="previousround">&#8249;</a>
      <a href="{% url 'RD_detail' pk=post.pk ip=1 %}" class="nextround">&#8250;</a>
      {% elif large.number == 1 %}
      <a href="{% url 'RD_detail' pk=post.pk ip=photos|length %}" class="previousround">&#8249;</a>
      <a href="{% url 'RD_detail' pk=post.pk ip=large.number|add:"1" %}" class="nextround">&#8250;</a>

      {% endif %}
      </div>
      <h1 class="nadpis_uvodni">{{ post.name }}</h1>
      <div class="popis">{{ post.text|linebreaksbr }}</div>
</div>
<div class="clear"></div>


{% for p in photos %}
  <div class="gallery_detail">
    <a href="{% url 'RD_detail' pk=post.pk ip=0 %}"><a href="{% url 'RD_detail' pk=post.pk ip=p.number %}">
    <img src="{{ p.photo.url }}" style="width:100%">
    <div class="desc_detail">{{ p.photo_name }}</div>
  </div>

{% endfor %}
<div class="clear"></div>




{% endblock %}
